{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true
  },
  "rules": {
    "no-self-assign": "off",
    "no-case-declarations": "off"
  },
  "overrides": [
    {
      "files": "src/**",
      "env": {
        "browser": true
      },
      "parserOptions": {
        "sourceType": "module"
      }
    },
    {
      "files": "scripts/**",
      "env": {
        "node": true
      },
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
