{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "overrides": [
    {
      "files": "src/**",
      "env": {
        "browser": true
      },
      "parserOptions": {
        "sourceType": "module"
      }
    },
    {
      "files": "scripts/**",
      "env": {
        "node": true
      }
    }
  ]
}
