body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body._scrolling {
	pointer-events: none;
}

#panes {
	padding: 10px;
	margin-bottom: 20px;
}

#theme-switch-button {
	color: #22a8ee;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.pane {
	max-width: 560px;
	margin: 0 auto 50px;
}

.pane__header {
	height: 16px;
	line-height: 1;
	margin-bottom: 25px;
}

.pane__title {
	float: left;
	font-size: 16px;
	font-weight: bold;
}

.pane__range {
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

.pane__zoom-chart {
	position: relative;
	height: 280px;
	margin-bottom: 20px;
}

.pane__overview-chart {
	position: relative;
	height: 50px;
	margin-bottom: 20px;
}

.pane__legend .checkbox {
	margin-bottom: 10px;
	margin-right: 10px;
}

.pane__legend .checkbox:last-child {
	margin-right: 0;
}

.zoombar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	border-radius: 7px;
	overflow: hidden;
}

.zoombar__pan {
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	border-top: 2px solid;
	border-bottom: 2px solid;
	will-change: width;
}

.zoombar__pan._draggable {
	cursor: grab;
}

.zoombar__pan._draggable._dragging {
	cursor: grabbing;
}

.zoombar__grip {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 100%;
	cursor: ew-resize;
}

.zoombar__grip::before {
	position: absolute;
	width: 10px;
	height: 100%;
	content: '';
}

.zoombar__grip._left::before {
	border-radius: 7px 0 0 7px;
}

.zoombar__grip._right::before {
	border-radius: 0 7px 7px 0;
}

.zoombar__grip::after {
	position: absolute;
	width: 2px;
	height: 10px;
	top: 50%;
	left: 4px;
	content: '';
	background: #fff;
	border-radius: 2px;
	margin-top: -5px;
}

.zoombar__overlay {
	display: inline-block;
	height: 100%;
	will-change: width;
}

.checkbox {
	display: inline-block;
	height: 30px;
	border: 2px solid;
	border-radius: 20px;
	cursor: pointer;
}

.checkbox._checked {
	color: #fff!important;
}

.checkbox._unchecked {
	background: transparent!important;
}

.checkbox__mark {
	display: inline-block;
	vertical-align: top;
	width: 4px;
	height: 11px;
	transform: scaleX(-1) rotate(135deg);
	transform-origin: left top;
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	margin-top: 15px;
	margin-left: 10px;
}

.checkbox._unchecked .checkbox__mark {
	display: none;
}

.checkbox__text {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.checkbox._unchecked .checkbox__text {
	margin-left: 23px;
	margin-right: 23px;
}

.toolbar {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	box-shadow: 0 0 15px -10px #000;
	padding: 10px;
	z-index: 999;
	pointer-events: none;
	will-change: transform;
}

.toolbar__title {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
}

.toolbar__item {
	font-size: 12px;
	margin-bottom: 8px;
}

.toolbar__item:last-child {
	margin-bottom: 0;
}

.toolbar__item-title {
	float: left;
	margin-right: 30px;
}

.toolbar__item-value {
	font-weight: bold;
	text-align: right;
	overflow: hidden;
}
