/* Day */

body._day {
	background: #fff;
}

body._day .select__chart:hover {
	background: #a9b3b9;
}

body._day .select__chart._active {
	border-color: #a9b3b9;
}

body._day .zoombar__pan {
	border-color: #a9b3b9;
}

body._day .zoombar__grip {
	background: #a9b3b9;
}

body._day .zoombar__overlay {
	background: #a9b3b9;
}

body._day .checkbox {
	border-color: #a9b3b9;
}

body._day .checkbox__text {
	color: #101010;
}

body._day .cursor__marker {
	background: #fff;
}

body._day .cursor__ruler {
	border-color: #dfe7eb;
}

body._day .label {
	color: #e7e7e7;
	background: #fff;
	border-color: #a9b3b9;
}

body._day .label__title {
	color: #101010;
}

/* Night */

body._night {
	background: #232f3d;
}

body._night .select__chart:hover {
	background: #4c5f6f;
}

body._night .select__chart._active {
	border-color: #4c5f6f;
}

body._night .zoombar__pan {
	border-color: #4c5f6f;
}

body._night .zoombar__grip {
	background: #4c5f6f;
}

body._night .zoombar__overlay {
	background: #4c5f6f;
}

body._night .checkbox {
	border-color: #4c5f6f;
}

body._night .checkbox__text {
	color: #fff;
}

body._night .cursor__marker {
	background: #232f3d;
}

body._night .cursor__ruler {
	border-color: #394959;
}

body._night .label {
	color: #2a2a2a;
	background: #232f3d;
	border-color: #202b38;
}

body._night .label__title {
	color: #fff;
}
