/* Day */

body._day {
	background: #fff;
}

body._day .pane__title,
body._day .pane__range,
body._day #repo-link {
	color: #000;
}

body._day .zoombar__pan {
	border-color: #c0d1e1;
}

body._day .zoombar__grip::before {
	background: #c0d1e1;
}

body._day .zoombar__overlay,
body._day .zoombar__grip {
	background: rgba(226, 238, 249, .6);
}

body._day .toolbar {
	color: #000;
	background: #fff;
}

/* Night */

body._night {
	background: #242f3e;
}

body._night .pane__title,
body._night .pane__range,
body._night #repo-link {
	color: #fff;
}

body._night .zoombar__pan {
	border-color: #56626d;
}

body._night .zoombar__grip::before {
	background: #56626d;
}

body._night .zoombar__overlay,
body._night .zoombar__grip {
	background: rgba(48, 66, 89, .6);
}

body._night .toolbar {
	color: #fff;
	background: #1c2533;
}
